In [12]:
import pandas as pd
from tensorflow import keras
from sklearn.model_selection import train_test_split
import numpy as np
import tensorflow as tf

In [2]:
df = pd.read_csv('datas/molecular_activity.txt')
df.head()

   prop_1  prop_2 prop_3  prop_4  Activity
0    4.06   71.01   57.2    5.82         1
1    3.63   65.62  52.68    5.44         1
2    3.63   68.90  58.29    6.06         1
3    4.11   75.59  62.81    6.44         1
4    4.00   70.86  58.05    6.06         1

In [34]:
df.tail()

       prop_1     prop_2     prop_3    prop_4  Activity
535  5.289450  49.043544   40.46577  4.111193         1
536  5.703150  50.957793  44.165036  4.620044         1
537  5.895225  53.324354  44.116574  4.418119         1
538  5.880450  52.831657  44.165036  4.620044         1
539  5.836125  52.694348  48.098535  4.418119         1

In [36]:
df.dtypes

prop_1      float64
prop_2      float64
prop_3       object
prop_4      float64
Activity      int64
dtype: object

In [39]:
# prop_3 is object type so remove
df[df["prop_3"] == '4 9.107996']

     prop_1    prop_2      prop_3    prop_4  Activity
483  6.5184  60.29132  4 9.107996  5.122376         1

In [41]:
df = df.drop(483)

In [45]:
df["prop_3"] = df["prop_3"].astype(float)

In [48]:
df.columns.to_list()

['prop_1', 'prop_2', 'prop_3', 'prop_4', 'Activity']

In [49]:
# DIvide to x & y
x_cols = ['prop_1', 'prop_2', 'prop_3', 'prop_4',]
y_cols = [ 'Activity']
x = df[x_cols].to_numpy()
y = df[y_cols].to_numpy()#.ravel()

In [50]:
x[:5]

array([[ 4.06, 71.01, 57.2 ,  5.82],
       [ 3.63, 65.62, 52.68,  5.44],
       [ 3.63, 68.9 , 58.29,  6.06],
       [ 4.11, 75.59, 62.81,  6.44],
       [ 4.  , 70.86, 58.05,  6.06]])

In [51]:
y[:5]

array([[1],
       [1],
       [1],
       [1],
       [1]], dtype=int64)

In [53]:
## Split to Train & Test 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3,
                                                    random_state=42)

In [54]:
## Fitting Model without Sc
model = keras.Sequential([
    keras.layers.Flatten(input_shape = (4,)),
    keras.layers.Dense(16,activation = tf.nn.relu),
    keras.layers.Dense(16, activation = tf.nn.relu),
    keras.layers.Dense(1, activation = tf.nn.sigmoid)
])

model.compile(optimizer="adam",
             loss = "binary_crossentropy",
             metrics = ["accuracy"])

model.fit(x_train, y_train, epochs=50, batch_size = 1)

Epoch 1/50
377/377 [==============================] - 3s 6ms/step - loss: 0.6840 - accuracy: 0.6419
Epoch 2/50
377/377 [==============================] - 2s 6ms/step - loss: 0.6015 - accuracy: 0.7454
Epoch 3/50
377/377 [==============================] - 2s 6ms/step - loss: 0.6013 - accuracy: 0.7692
Epoch 4/50
377/377 [==============================] - 1s 2ms/step - loss: 0.5774 - accuracy: 0.7984
Epoch 5/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5872 - accuracy: 0.7745
Epoch 6/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5793 - accuracy: 0.7931
Epoch 7/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5694 - accuracy: 0.7613
Epoch 8/50
377/377 [==============================] - 1s 2ms/step - loss: 0.5811 - accuracy: 0.7692
Epoch 9/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5684 - accuracy: 0.7772
Epoch 10/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5571 - accuracy: 0.7666
Epoch 11/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5713 - accuracy: 0.7692
Epoch 12/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5460 - accuracy: 0.7719
Epoch 13/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5447 - accuracy: 0.8011
Epoch 14/50
377/377 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7825
Epoch 15/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5579 - accuracy: 0.7878
Epoch 16/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5349 - accuracy: 0.7878
Epoch 17/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5277 - accuracy: 0.7772
Epoch 18/50
377/377 [==============================] - 1s 2ms/step - loss: 0.5206 - accuracy: 0.7958
Epoch 19/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5130 - accuracy: 0.7905
Epoch 20/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5125 - accuracy: 0.7958
Epoch 21/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5044 - accuracy: 0.7958
Epoch 22/50
377/377 [==============================] - 1s 2ms/step - loss: 0.4925 - accuracy: 0.8011
Epoch 23/50
377/377 [==============================] - 2s 6ms/step - loss: 0.5048 - accuracy: 0.7878
Epoch 24/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4919 - accuracy: 0.8011
Epoch 25/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4775 - accuracy: 0.8011
Epoch 26/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4784 - accuracy: 0.7984
Epoch 27/50
377/377 [==============================] - 1s 2ms/step - loss: 0.4967 - accuracy: 0.7931
Epoch 28/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4737 - accuracy: 0.7984
Epoch 29/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4682 - accuracy: 0.8064
Epoch 30/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4581 - accuracy: 0.7984
Epoch 31/50
377/377 [==============================] - 1s 2ms/step - loss: 0.4530 - accuracy: 0.8090
Epoch 32/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4497 - accuracy: 0.8143
Epoch 33/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4443 - accuracy: 0.8249
Epoch 34/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4387 - accuracy: 0.8223
Epoch 35/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4612 - accuracy: 0.7984
Epoch 36/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4313 - accuracy: 0.8223
Epoch 37/50
377/377 [==============================] - 1s 2ms/step - loss: 0.4394 - accuracy: 0.8276
Epoch 38/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4191 - accuracy: 0.8302
Epoch 39/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4302 - accuracy: 0.8223
Epoch 40/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4466 - accuracy: 0.8090
Epoch 41/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4310 - accuracy: 0.8196
Epoch 42/50
377/377 [==============================] - 1s 2ms/step - loss: 0.4309 - accuracy: 0.8170
Epoch 43/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4260 - accuracy: 0.8302
Epoch 44/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4153 - accuracy: 0.8117
Epoch 45/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4258 - accuracy: 0.8117
Epoch 46/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4086 - accuracy: 0.8249
Epoch 47/50
377/377 [==============================] - 1s 2ms/step - loss: 0.4261 - accuracy: 0.7958
Epoch 48/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4139 - accuracy: 0.8329
Epoch 49/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4122 - accuracy: 0.8329
Epoch 50/50
377/377 [==============================] - 2s 6ms/step - loss: 0.4098 - accuracy: 0.8196

In [56]:
a= np.array([[4.02,70.86,62.05,7.0]])
print(model.predict(a))

[[0.71447426]]