In [32]:
# https://github.com/jeffheaton/t81_558_deep_learning/blob/master/t81_558_class_04_3_regression.ipynb

In [16]:
# import the required library
import pandas as pd
from scipy.stats import zscore
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/jh-simple-dataset.csv",
    na_values=['NA','?'])

In [3]:
df.head()

,id,job,area,income,aspect,subscriptions,dist_healthy,save_rate,dist_unhealthy,age,pop_dense,retail_dense,crime,product
0,1,vv,c,50876.0,13.100000,1,9.017895,35,11.738935,49,0.885827,0.492126,0.071100,b
1,2,kd,c,60369.0,18.625000,2,7.766643,59,6.805396,51,0.874016,0.342520,0.400809,c
2,3,pe,c,55126.0,34.766667,1,3.632069,6,13.671772,44,0.944882,0.724409,0.207723,b
3,4,11,c,51690.0,15.808333,1,5.372942,16,4.333286,50,0.889764,0.444882,0.361216,b
4,5,kl,d,28347.0,40.941667,3,3.822477,20,5.967121,38,0.744094,0.661417,0.068033,a

In [4]:
df.isna().sum()

id                 0
job                0
area               0
income            59
aspect             0
subscriptions      0
dist_healthy       0
save_rate          0
dist_unhealthy     0
age                0
pop_dense          0
retail_dense       0
crime              0
product            0
dtype: int64

In [5]:
"""
Our purpose is to predict the age by analysisng shopping pattern
we can see income has only missing value
"""

'\nOur purpose is to predict the age by analysisng shopping pattern\nwe can see income has only missing value\n'

In [6]:
pd.get_dummies(df["job"], prefix="job").head(4)

,job_11,job_al,job_am,job_ax,job_bf,job_by,job_cv,job_de,job_dz,job_e2,...,job_pe,job_po,job_pq,job_pz,job_qp,job_qw,job_rn,job_sa,job_vv,job_zz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# Generate dummies for job
df = pd.concat([df,pd.get_dummies(df["job"], prefix="job") ], axis=1)
df.drop("job", axis = 1, inplace = True)

In [8]:
df.head(2)

,id,area,income,aspect,subscriptions,dist_healthy,save_rate,dist_unhealthy,age,pop_dense,...,job_pe,job_po,job_pq,job_pz,job_qp,job_qw,job_rn,job_sa,job_vv,job_zz
0,1,c,50876.0,13.100,1,9.017895,35,11.738935,49,0.885827,...,0,0,0,0,0,0,0,0,1,0
1,2,c,60369.0,18.625,2,7.766643,59,6.805396,51,0.874016,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Generate dummies for area
df = pd.concat([df, pd.get_dummies(df["area"], prefix = "area")], axis = 1)
df.drop("area", axis = 1, inplace=True)

In [10]:
# Generate dummies for product
df = pd.concat([df, pd.get_dummies(df["product"], prefix="product")], axis = 1)
df.drop("product", axis = 1, inplace=True)

In [12]:
# Fill median income to na 
df["income"].isna().sum()

59

In [14]:
df['income'].fillna(value=df["income"].median(), inplace=True)

In [17]:
# Standardize ranges
df["income"] = zscore(df["income"])
df["aspect"] = zscore(df["aspect"])
df["save_rate"] = zscore(df["subscriptions"])

In [18]:
df.head()

,id,income,aspect,subscriptions,dist_healthy,save_rate,dist_unhealthy,age,pop_dense,retail_dense,...,area_b,area_c,area_d,product_a,product_b,product_c,product_d,product_e,product_f,product_g
0,1,-0.607550,-0.664918,1,9.017895,-0.208449,11.738935,49,0.885827,0.492126,...,0,1,0,0,1,0,0,0,0,0
1,2,0.338053,-0.207748,2,7.766643,0.839031,6.805396,51,0.874016,0.342520,...,0,1,0,0,0,1,0,0,0,0
2,3,-0.184205,1.127906,1,3.632069,-0.208449,13.671772,44,0.944882,0.724409,...,0,1,0,0,1,0,0,0,0,0
3,4,-0.526467,-0.440815,1,5.372942,-0.208449,4.333286,50,0.889764,0.444882,...,0,1,0,0,1,0,0,0,0,0
4,5,-2.851675,1.638861,3,3.822477,1.886511,5.967121,38,0.744094,0.661417,...,0,0,1,1,0,0,0,0,0,0

In [19]:
x_cols = df.drop(columns=["age", "id"]) # age is y and id is no meaning in regression
x_cols.head()

,income,aspect,subscriptions,dist_healthy,save_rate,dist_unhealthy,pop_dense,retail_dense,crime,job_11,...,area_b,area_c,area_d,product_a,product_b,product_c,product_d,product_e,product_f,product_g
0,-0.607550,-0.664918,1,9.017895,-0.208449,11.738935,0.885827,0.492126,0.071100,0,...,0,1,0,0,1,0,0,0,0,0
1,0.338053,-0.207748,2,7.766643,0.839031,6.805396,0.874016,0.342520,0.400809,0,...,0,1,0,0,0,1,0,0,0,0
2,-0.184205,1.127906,1,3.632069,-0.208449,13.671772,0.944882,0.724409,0.207723,0,...,0,1,0,0,1,0,0,0,0,0
3,-0.526467,-0.440815,1,5.372942,-0.208449,4.333286,0.889764,0.444882,0.361216,1,...,0,1,0,0,1,0,0,0,0,0
4,-2.851675,1.638861,3,3.822477,1.886511,5.967121,0.744094,0.661417,0.068033,0,...,0,0,1,1,0,0,0,0,0,0

In [20]:
x = x_cols.values
y = df["age"].values

In [21]:
# Split Data to train and Test
x_train, x_test , y_train, y_test = train_test_split(x,y, test_size=0.2,
                                                     random_state=42)
x_train.shape, x_test.shape

((1600, 53), (400, 53))

## Design DNN Model

In [22]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [23]:
## Build the model
model = Sequential()
model.add(Dense(25, input_dim = x.shape[1], activation = "relu")) #Hidden 1
model.add(Dense(10, activation = "relu")) # Hidden 2 
model.add(Dense(1))

model.compile(loss = "mean_squared_error", optimizer = "adam")

monitor = EarlyStopping(monitor = "val_loss", min_delta=1e-3,
                       patience=5, verbose=1, mode = "auto")

model.fit(x_train, y_train, validation_data=(x_test, y_test),
         callbacks=[monitor], verbose=2, epochs = 1000)

Epoch 1/1000
50/50 - 2s - loss: 1842.9844 - val_loss: 1521.2675 - 2s/epoch - 36ms/step
Epoch 2/1000
50/50 - 0s - loss: 1129.6904 - val_loss: 599.1052 - 126ms/epoch - 3ms/step
Epoch 3/1000
50/50 - 0s - loss: 335.4672 - val_loss: 231.3333 - 123ms/epoch - 2ms/step
Epoch 4/1000
50/50 - 0s - loss: 241.8071 - val_loss: 203.6827 - 103ms/epoch - 2ms/step
Epoch 5/1000
50/50 - 0s - loss: 209.5699 - val_loss: 172.1028 - 101ms/epoch - 2ms/step
Epoch 6/1000
50/50 - 0s - loss: 169.8161 - val_loss: 132.4540 - 102ms/epoch - 2ms/step
Epoch 7/1000
50/50 - 0s - loss: 123.9975 - val_loss: 93.5410 - 101ms/epoch - 2ms/step
Epoch 8/1000
50/50 - 0s - loss: 83.7607 - val_loss: 63.6562 - 101ms/epoch - 2ms/step
Epoch 9/1000
50/50 - 0s - loss: 53.8779 - val_loss: 41.6163 - 98ms/epoch - 2ms/step
Epoch 10/1000
50/50 - 0s - loss: 34.4512 - val_loss: 28.6969 - 96ms/epoch - 2ms/step
Epoch 11/1000
50/50 - 0s - loss: 23.7140 - val_loss: 22.0576 - 98ms/epoch - 2ms/step
Epoch 12/1000
50/50 - 0s - loss: 18.3811 - val_loss: 18.6720 - 100ms/epoch - 2ms/step
Epoch 13/1000
50/50 - 0s - loss: 15.7506 - val_loss: 16.4724 - 104ms/epoch - 2ms/step
Epoch 14/1000
50/50 - 0s - loss: 14.3510 - val_loss: 14.9780 - 103ms/epoch - 2ms/step
Epoch 15/1000
50/50 - 0s - loss: 13.1806 - val_loss: 13.9485 - 100ms/epoch - 2ms/step
Epoch 16/1000
50/50 - 0s - loss: 12.3912 - val_loss: 13.1990 - 112ms/epoch - 2ms/step
Epoch 17/1000
50/50 - 0s - loss: 11.7967 - val_loss: 12.5359 - 124ms/epoch - 2ms/step
Epoch 18/1000
50/50 - 0s - loss: 11.3929 - val_loss: 11.7896 - 119ms/epoch - 2ms/step
Epoch 19/1000
50/50 - 0s - loss: 10.8154 - val_loss: 11.2673 - 100ms/epoch - 2ms/step
Epoch 20/1000
50/50 - 0s - loss: 10.3504 - val_loss: 10.8752 - 99ms/epoch - 2ms/step
Epoch 21/1000
50/50 - 0s - loss: 9.8693 - val_loss: 10.6881 - 127ms/epoch - 3ms/step
Epoch 22/1000
50/50 - 0s - loss: 9.6173 - val_loss: 10.0278 - 122ms/epoch - 2ms/step
Epoch 23/1000
50/50 - 0s - loss: 9.2792 - val_loss: 10.0128 - 103ms/epoch - 2ms/step
Epoch 24/1000
50/50 - 0s - loss: 8.9336 - val_loss: 9.4706 - 101ms/epoch - 2ms/step
Epoch 25/1000
50/50 - 0s - loss: 8.6094 - val_loss: 9.0493 - 102ms/epoch - 2ms/step
Epoch 26/1000
50/50 - 0s - loss: 8.3581 - val_loss: 8.6680 - 103ms/epoch - 2ms/step
Epoch 27/1000
50/50 - 0s - loss: 8.0565 - val_loss: 8.3832 - 111ms/epoch - 2ms/step
Epoch 28/1000
50/50 - 0s - loss: 7.7600 - val_loss: 8.0445 - 134ms/epoch - 3ms/step
Epoch 29/1000
50/50 - 0s - loss: 7.4409 - val_loss: 7.7957 - 107ms/epoch - 2ms/step
Epoch 30/1000
50/50 - 0s - loss: 7.2420 - val_loss: 7.4865 - 107ms/epoch - 2ms/step
Epoch 31/1000
50/50 - 0s - loss: 6.9648 - val_loss: 7.2240 - 134ms/epoch - 3ms/step
Epoch 32/1000
50/50 - 0s - loss: 6.6778 - val_loss: 6.9529 - 110ms/epoch - 2ms/step
Epoch 33/1000
50/50 - 0s - loss: 6.5439 - val_loss: 6.8058 - 116ms/epoch - 2ms/step
Epoch 34/1000
50/50 - 0s - loss: 6.1760 - val_loss: 6.3784 - 133ms/epoch - 3ms/step
Epoch 35/1000
50/50 - 0s - loss: 6.1038 - val_loss: 6.1344 - 115ms/epoch - 2ms/step
Epoch 36/1000
50/50 - 0s - loss: 5.7678 - val_loss: 5.8655 - 100ms/epoch - 2ms/step
Epoch 37/1000
50/50 - 0s - loss: 5.4600 - val_loss: 5.5779 - 130ms/epoch - 3ms/step
Epoch 38/1000
50/50 - 0s - loss: 5.2838 - val_loss: 5.3423 - 122ms/epoch - 2ms/step
Epoch 39/1000
50/50 - 0s - loss: 4.9994 - val_loss: 5.1305 - 105ms/epoch - 2ms/step
Epoch 40/1000
50/50 - 0s - loss: 4.7846 - val_loss: 4.8593 - 133ms/epoch - 3ms/step
Epoch 41/1000
50/50 - 0s - loss: 4.5161 - val_loss: 4.5321 - 109ms/epoch - 2ms/step
Epoch 42/1000
50/50 - 0s - loss: 4.2142 - val_loss: 4.3014 - 98ms/epoch - 2ms/step
Epoch 43/1000
50/50 - 0s - loss: 3.9268 - val_loss: 4.0025 - 100ms/epoch - 2ms/step
Epoch 44/1000
50/50 - 0s - loss: 3.7568 - val_loss: 3.6834 - 101ms/epoch - 2ms/step
Epoch 45/1000
50/50 - 0s - loss: 3.5370 - val_loss: 3.4582 - 99ms/epoch - 2ms/step
Epoch 46/1000
50/50 - 0s - loss: 3.1308 - val_loss: 3.3443 - 100ms/epoch - 2ms/step
Epoch 47/1000
50/50 - 0s - loss: 2.9210 - val_loss: 3.0955 - 100ms/epoch - 2ms/step
Epoch 48/1000
50/50 - 0s - loss: 2.7124 - val_loss: 3.0000 - 100ms/epoch - 2ms/step
Epoch 49/1000
50/50 - 0s - loss: 2.5504 - val_loss: 2.8248 - 101ms/epoch - 2ms/step
Epoch 50/1000
50/50 - 0s - loss: 2.4144 - val_loss: 2.4781 - 101ms/epoch - 2ms/step
Epoch 51/1000
50/50 - 0s - loss: 2.2135 - val_loss: 2.3937 - 101ms/epoch - 2ms/step
Epoch 52/1000
50/50 - 0s - loss: 2.1167 - val_loss: 2.2016 - 105ms/epoch - 2ms/step
Epoch 53/1000
50/50 - 0s - loss: 1.9474 - val_loss: 2.0954 - 103ms/epoch - 2ms/step
Epoch 54/1000
50/50 - 0s - loss: 1.7675 - val_loss: 1.9863 - 110ms/epoch - 2ms/step
Epoch 55/1000
50/50 - 0s - loss: 1.6656 - val_loss: 1.8524 - 104ms/epoch - 2ms/step
Epoch 56/1000
50/50 - 0s - loss: 1.5715 - val_loss: 1.8139 - 108ms/epoch - 2ms/step
Epoch 57/1000
50/50 - 0s - loss: 1.4606 - val_loss: 1.7272 - 108ms/epoch - 2ms/step
Epoch 58/1000
50/50 - 0s - loss: 1.3895 - val_loss: 1.6497 - 104ms/epoch - 2ms/step
Epoch 59/1000
50/50 - 0s - loss: 1.2990 - val_loss: 1.4968 - 102ms/epoch - 2ms/step
Epoch 60/1000
50/50 - 0s - loss: 1.2008 - val_loss: 1.4720 - 102ms/epoch - 2ms/step
Epoch 61/1000
50/50 - 0s - loss: 1.2272 - val_loss: 1.3779 - 116ms/epoch - 2ms/step
Epoch 62/1000
50/50 - 0s - loss: 1.0996 - val_loss: 1.2748 - 110ms/epoch - 2ms/step
Epoch 63/1000
50/50 - 0s - loss: 1.0254 - val_loss: 1.1958 - 117ms/epoch - 2ms/step
Epoch 64/1000
50/50 - 0s - loss: 0.9835 - val_loss: 1.4000 - 107ms/epoch - 2ms/step
Epoch 65/1000
50/50 - 0s - loss: 1.0083 - val_loss: 1.1638 - 104ms/epoch - 2ms/step
Epoch 66/1000
50/50 - 0s - loss: 0.9111 - val_loss: 1.0785 - 110ms/epoch - 2ms/step
Epoch 67/1000
50/50 - 0s - loss: 0.9123 - val_loss: 1.0839 - 106ms/epoch - 2ms/step
Epoch 68/1000
50/50 - 0s - loss: 0.8392 - val_loss: 1.0424 - 106ms/epoch - 2ms/step
Epoch 69/1000
50/50 - 0s - loss: 0.7966 - val_loss: 1.0123 - 108ms/epoch - 2ms/step
Epoch 70/1000
50/50 - 0s - loss: 0.8023 - val_loss: 0.9719 - 106ms/epoch - 2ms/step
Epoch 71/1000
50/50 - 0s - loss: 0.7814 - val_loss: 0.9377 - 108ms/epoch - 2ms/step
Epoch 72/1000
50/50 - 0s - loss: 0.7648 - val_loss: 0.9430 - 113ms/epoch - 2ms/step
Epoch 73/1000
50/50 - 0s - loss: 0.7240 - val_loss: 0.8877 - 110ms/epoch - 2ms/step
Epoch 74/1000
50/50 - 0s - loss: 0.7011 - val_loss: 0.8786 - 107ms/epoch - 2ms/step
Epoch 75/1000
50/50 - 0s - loss: 0.7475 - val_loss: 1.0364 - 108ms/epoch - 2ms/step
Epoch 76/1000
50/50 - 0s - loss: 0.6661 - val_loss: 0.8446 - 106ms/epoch - 2ms/step
Epoch 77/1000
50/50 - 0s - loss: 0.7396 - val_loss: 0.8344 - 122ms/epoch - 2ms/step
Epoch 78/1000
50/50 - 0s - loss: 0.6727 - val_loss: 0.9716 - 120ms/epoch - 2ms/step
Epoch 79/1000
50/50 - 0s - loss: 0.6470 - val_loss: 0.8220 - 121ms/epoch - 2ms/step
Epoch 80/1000
50/50 - 0s - loss: 0.6390 - val_loss: 0.8078 - 114ms/epoch - 2ms/step
Epoch 81/1000
50/50 - 0s - loss: 0.6434 - val_loss: 0.7876 - 105ms/epoch - 2ms/step
Epoch 82/1000
50/50 - 0s - loss: 0.6415 - val_loss: 0.8121 - 102ms/epoch - 2ms/step
Epoch 83/1000
50/50 - 0s - loss: 0.6230 - val_loss: 0.7962 - 114ms/epoch - 2ms/step
Epoch 84/1000
50/50 - 0s - loss: 0.6168 - val_loss: 0.7952 - 112ms/epoch - 2ms/step
Epoch 85/1000
50/50 - 0s - loss: 0.6225 - val_loss: 0.8050 - 105ms/epoch - 2ms/step
Epoch 86/1000
50/50 - 0s - loss: 0.5967 - val_loss: 0.7687 - 105ms/epoch - 2ms/step
Epoch 87/1000
50/50 - 0s - loss: 0.6139 - val_loss: 0.7665 - 117ms/epoch - 2ms/step
Epoch 88/1000
50/50 - 0s - loss: 0.6349 - val_loss: 0.7980 - 112ms/epoch - 2ms/step
Epoch 89/1000
50/50 - 0s - loss: 0.6615 - val_loss: 0.7824 - 106ms/epoch - 2ms/step
Epoch 90/1000
50/50 - 0s - loss: 0.6149 - val_loss: 0.7726 - 99ms/epoch - 2ms/step
Epoch 91/1000
50/50 - 0s - loss: 0.5711 - val_loss: 0.7677 - 105ms/epoch - 2ms/step
Epoch 92/1000
50/50 - 0s - loss: 0.5706 - val_loss: 0.7388 - 103ms/epoch - 2ms/step
Epoch 93/1000
50/50 - 0s - loss: 0.5738 - val_loss: 0.7395 - 103ms/epoch - 2ms/step
Epoch 94/1000
50/50 - 0s - loss: 0.5691 - val_loss: 0.7432 - 100ms/epoch - 2ms/step
Epoch 95/1000
50/50 - 0s - loss: 0.5476 - val_loss: 0.7361 - 104ms/epoch - 2ms/step
Epoch 96/1000
50/50 - 0s - loss: 0.5543 - val_loss: 0.8059 - 106ms/epoch - 2ms/step
Epoch 97/1000
50/50 - 0s - loss: 0.5963 - val_loss: 0.8214 - 104ms/epoch - 2ms/step
Epoch 98/1000

50/50 - 0s - loss: 0.5855 - val_loss: 0.8007 - 105ms/epoch - 2ms/step
Epoch 99/1000
50/50 - 0s - loss: 0.5811 - val_loss: 0.7730 - 102ms/epoch - 2ms/step
Epoch 100/1000
50/50 - 0s - loss: 0.5726 - val_loss: 0.7016 - 104ms/epoch - 2ms/step
Epoch 101/1000
50/50 - 0s - loss: 0.5455 - val_loss: 0.7070 - 107ms/epoch - 2ms/step
Epoch 102/1000
50/50 - 0s - loss: 0.5538 - val_loss: 0.8342 - 103ms/epoch - 2ms/step
Epoch 103/1000
50/50 - 0s - loss: 0.6363 - val_loss: 0.7145 - 101ms/epoch - 2ms/step
Epoch 104/1000
50/50 - 0s - loss: 0.5449 - val_loss: 0.7082 - 105ms/epoch - 2ms/step
Epoch 105/1000
50/50 - 0s - loss: 0.5722 - val_loss: 1.1711 - 108ms/epoch - 2ms/step
Epoch 00105: early stopping

### Mean Square Error

The mean square error is the sum of the squared differences between the prediction (
) and the expected (). MSE values are not of a particular unit. If an MSE value has decreased for a model, that is good. However, beyond this, there is not much more you can determine. Low MSE values are desired.

In [24]:
from sklearn import metrics

# predict by our pretrained model
pred = model.predict(x_test)

# Measure MSE error
score = metrics.mean_squared_error(pred, y_test)
print("Final Score (MSE): {}".format(score))

Final Score (MSE): 1.1711487756253063

## Lift Chart

In [ ]:
def chart_regression(pred,y, sort = True):
    """
    plot LIFT Chart, 
    showing in sorting show where are the outliers are exist 
    in lower regions or in higher regions
    """
    t = pd.DataFrame()