In [ ]:
# https://www.kaggle.com/miteshsoni/in-depth-eda-hollywood-theatrical-analysis/notebook
# MITESH SONI

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
from collections import Counter

In [41]:
df = pd.read_csv("datas/AnnualTicketSales.csv")
df.head()

,YEAR,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE,Unnamed: 5
0,2021,"42,37,74,881","$3,881,777,912","$3,881,777,912",$9.16,NaN
1,2020,"22,36,38,958","$2,048,534,616","$2,048,534,616",$9.16,NaN
2,2019,"1,22,85,41,629","$11,253,443,955","$11,253,444,050",$9.16,NaN
3,2018,"1,31,15,36,128","$11,948,096,650","$12,013,670,952",$9.11,NaN
4,2017,"1,22,56,39,761","$10,993,991,460","$11,226,860,216",$8.97,NaN

In [42]:
# remove Unnamed:5
df.drop(columns="Unnamed: 5", inplace=True)

In [43]:
df.head(2)

,YEAR,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE
0,2021,"42,37,74,881","$3,881,777,912","$3,881,777,912",$9.16
1,2020,"22,36,38,958","$2,048,534,616","$2,048,534,616",$9.16

In [44]:
j = []
for i in df["TICKETS SOLD"]:
        j.append(i.replace(",",''))

In [46]:
j[:5]

['423774881', '223638958', '1228541629', '1311536128', '1225639761']

In [47]:
# replace the Column
df["Tickets_sold"] = j

In [48]:
df["Tickets_sold"] = df["Tickets_sold"].astype(float)

In [33]:
k =[]
# do all in once
for i in df.columns:
    if i not in ["YEAR", "TICKETS SOLD", "Tickets_sold"]:
        for j in df[i]:
            k.append(j[1:].replace(",", ""))
        df[i] = k
    k.clear() # k = [] # restore

In [34]:
df.head()

,YEAR,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE,Tickets_sold
0,2021,"42,37,74,881",3881777912,3881777912,9.16,423774881
1,2020,"22,36,38,958",2048534616,2048534616,9.16,223638958
2,2019,"1,22,85,41,629",11253443955,11253444050,9.16,1228541629
3,2018,"1,31,15,36,128",11948096650,12013670952,9.11,1311536128
4,2017,"1,22,56,39,761",10993991460,11226860216,8.97,1225639761

In [35]:
df.drop("TICKETS SOLD", axis = 1, inplace = True) # also can do by df.drop(columns = "columns name")

In [36]:
df.head()

,YEAR,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE,Tickets_sold
0,2021,3881777912,3881777912,9.16,423774881
1,2020,2048534616,2048534616,9.16,223638958
2,2019,11253443955,11253444050,9.16,1228541629
3,2018,11948096650,12013670952,9.11,1311536128
4,2017,10993991460,11226860216,8.97,1225639761

In [49]:
# Most Tickets Sold years
topyears = df.nlargest(5,'Tickets_sold')[['YEAR','Tickets_sold']]